<h1>Game#index</h1>
<p>Find me in app/views/game/index.html.erb</p>

    <script type="text/ruby">
      DXOpal.dump_error{ require_remote 'main' }
    </script>

    <canvas id="dxopal-canvas"></canvas>
    <div id="dxopal-errors"></div>
